## 关于pandas.join 的一种特殊的情况

column明明没有overlap，但是出现
> ValueError: columns overlap but no suffix specified: Index([(-1, 0]], dtype='object')

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import matplotlib.pyplot as plt

In [4]:
a = np.random.randn(5)
b = pd.get_dummies(pd.cut(a,[-2,-1,0,1,2]))
a = DataFrame(a)
b = DataFrame(b)
a

          0
0  0.160819
1  1.559106
2  0.876611
3 -0.479770
4 -0.704851

In [5]:
b

   (-2, -1]  (-1, 0]  (0, 1]  (1, 2]
0         0        0       1       0
1         0        0       0       1
2         0        0       1       0
3         0        1       0       0
4         0        1       0       0

虽然a和b的列直观上没有重复的，但是还是需要制定rsuffix or lsuffix
- noting lsuffix has nothing to do with column 0
- rsuffix only works on (-1,0]

 'it is so strange'

In [10]:
a.join(b,lsuffix='_left')

          0  (-2, -1]  (-1, 0]  (0, 1]  (1, 2]
0  0.160819         0        0       1       0
1  1.559106         0        0       0       1
2  0.876611         0        0       1       0
3 -0.479770         0        1       0       0
4 -0.704851         0        1       0       0

In [11]:
a.join(b,rsuffix='_right')

          0  (-2, -1]  (-1, 0]_right  (0, 1]  (1, 2]
0  0.160819         0              0       1       0
1  1.559106         0              0       0       1
2  0.876611         0              0       1       0
3 -0.479770         0              1       0       0
4 -0.704851         0              1       0       0