## pd.index and pd.MultiIndex

In [3]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd
data = DataFrame(np.arange(6).reshape((2, 3)),
                 index=pd.Index(['Ohio', 'Colorado'], name='state'),
                 columns=pd.Index(['one', 'two', 'three'], name='number'))


columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]], names=['cty', 'tenor'])
data2 = DataFrame(np.random.randn(4, 5), columns=columns)

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

** 直接看 columns **

- levels is unique

- labels 与数据的大小一致（number of rows or columns)

In [9]:
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [5]:
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [6]:
data.index

Index(['Ohio', 'Colorado'], dtype='object', name='state')

In [4]:
data2

cty          US                            JP
tenor         1         3         5         1         3
0     -1.459941  1.539637  0.721649  0.117694  0.614119
1      0.225020  0.789139 -0.836769 -0.684330  1.108749
2      0.321283  1.249698 -1.713157  0.146581 -0.372232
3      0.894213 -1.172040 -1.461760  0.890944 -1.524990

In [7]:
data2.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data2.columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])